  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,600&display=swap');

.layout {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #ed7abf, blue);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  width: 500px;
}
/* big circle */
.disc {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(to bottom, #e5889d, rgb(57, 57, 199));
  border-radius: 100%;
  margin: 50px 0 0 600px;
}

/* maindiv */
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* card */
.card {
  width: 60%;
  height: 80%;
  position: absolute;
}
/* tempcard */
.tempcard {
  width: 100%;
  height: 300px;
  background-color: blue;
}

/* degreecard and citycard */

.degreecard,
.citycard {
  height: 250px;
  background-color: rgba(66, 66, 66, 0.3);
  color: white;
}
/* tempearture */
.temperature {
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  top: 50px;
  flex-direction: column;
}
.temperature .h1 {
  font-size: 60px;
  margin-top: -30px;
  width: 100%;
  margin-left: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.temperature .h2 {
  font-size: 30px;
  margin-top: -50px;
  font-weight: 600;
  width: 100%;
  margin-left: 100px;
}

.humidity {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 60px;
  margin-left: 10px;
}

.humidity .h3{
    font-size: 20px;
    font-weight: 500;

}
.humidity .h3 span{
    display: block;
    font-weight: 300;
}
.humidity .h4{
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}
.humidity .h4 span{
    display: block;
    font-weight: 300;
}

/* location */

.locname{
    font-size: 100px;
    margin-top: -50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin-left: 20px;
    overflow: hidden;
    height: auto;
    flex-wrap: wrap;
}
/* next har */
.nextdays{
  width: 600px;
}
.hr{
  width: 100%;
  height: 200px;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}
.days{
  width: 200px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  background-color: lightgray;
  border-radius: 20px;
}
/* media  */
@media screen and (max-width: 992px) {
  .disc {
    display: none;
  }
}
