

*{
    margin: 0;
    padding: 0;
}

.commerce{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
.head{
    width: 100%;
    height: 100px;
}
.head h1{
    float: left;
}
.head input{
    float: right;
    width: 200px;
    height: 30px;
    margin-right: 100px
}
