.login {
  width: 100%;
  height: 100vh;
}
.login .left {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url(../Assets/images/loginimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.right .credential {
  width: 600px;
  height: 600px;
  background-color: #eae9e5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.credential h1 {
  text-align: center;
  color: #007cff;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 38%;
}

.credential input {
  margin: 20px;
  width: 90%;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}
.credential button {
  margin: 20px;
  width: 90%;
  height: 50px;
  background-color: #007cff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.credential button a {
  text-decoration: none;
  color: white;
}
/* otp */
.otp {
  width: 100%;
  height: 100vh;

  background-image: url(../Assets/images/otp2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.window {
  width: 500px;
  height: 100vh;
  background-color: white;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
  margin-right: 300px;
}
.otpbtn {
  width: 150px;
  height: 30px;
  background-color: rgb(172, 172, 246);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.input {
  width: 400px;
  margin-bottom: 20px;
}

.input h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input input,
.input textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

 button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

 button:hover {
  background-color: #0056b3;
}

.resume p {
  color: red;
  margin-top: 10px;
}

.addResume {
  width: 100%;
  height: 100vh;
  background-color: #ced0d1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add {
  width: 600px;
  height: 600px;
  border-radius: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: rgb(172, 172, 246);
}
.add .grid {
  width: 100%;
  height: 450px;
  background-color: rgb(172, 172, 246);
  overflow-y: scroll;
  overflow-x: hidden;
}
.add button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  width: 50px;
  background-color: rgb(172, 172, 246);
  box-shadow: 10px 10px 50px 5px rgb(205, 205, 220);
  transition: 0.3s ease-in-out;
}
.add button:hover {
  background-color: rgb(99, 99, 185);
  color: white;
}
.preview{
  position: absolute;
  background-color: white;
  width: 500px;
}

/* template */
.template {
  width: 600px;
  height: 500px;
  position: absolute;
  background-color: white;
  top: 9%;
  left: 30%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 20px;
}
.grid{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card{
  margin: 10px;
  
  background-color: white ;
}
.cards {
  width: 100%;
  height: 390px;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 20px;
}
.card1 {
  width: 250px;
  height: 250px;
  background-color: white;
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://marketplace.canva.com/EAD7WY_6Ncs/1/0/1131w/canva-navy-blue-and-black-professional-resume-uLR8G4DSbAs.jpg');
}
.card2{
  width: 250px;
  height: 250px;
  background-color: white;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://preview.redd.it/629lvulyubm71.jpg?width=640&height=805&crop=smart&auto=webp&s=043523e0739839170050d6d0d73780fd93072896');
}
.card3{
  width: 250px;
  height: 250px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  background-image: url('https://i.pinimg.com/originals/9a/aa/34/9aaa34c530d13d6d92eb7366c519fbac.jpg');
}

.resume1{
  width: 500px;
  height: 500px;
  border: 1px solid black
}
.resume1 .right{
  width: 30%;
  height: 100%;
  float: left;
  background-color:  rgb(51, 51, 133);;
}
.resume1 .details{
  width: 65%;
  height: 100%;
  padding-left: 10px;
  float: right;
  background-color: white;
}