* {
  padding: 0;
  margin: 0;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.login .left {
  width: 50%;
  height: 90%;
  float: left;
  background-image: url(../Assets/images/loginimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.right .credential {
  width: 600px;
  height: 600px;
  background-color: #eae9e5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.credential h1 {
  text-align: center;
  color: #007cff;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 38%;
}

.credential input {
  margin: 20px;
  width: 90%;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}
.credential button {
  margin: 20px;
  width: 90%;
  height: 50px;
  background-color: #007cff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.credential button a {
  text-decoration: none;
  color: white;
}
/* otp */
.otp {
  width: 100%;
  height: 100vh;
  background-image: url(../Assets/images/otp2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.window {
  width: 500px;
  height: 100vh;
  background-color: white;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
  margin-right: 300px;
}
.otpbtn {
  width: 150px;
  height: 30px;
  background-color: rgb(172, 172, 246);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
.resume {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  margin: -6px auto;
}

.input {
  width: 400px;
  margin-bottom: 20px;
}

.input h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input input,
.input textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.resume p {
  color: red;
  margin-top: 10px;
}

.addResume {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(255, 255, 255), rgb(161, 161, 238));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.add {
  width: 90%;
  height: 700px;
  border-radius: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  gap: 20px;
  background-color: rgba(138, 133, 133, 0.452);
}
.add .grid {
  width: 100%;
  height: 450px;
  overflow-y: scroll;
  border: 1px solid black;
  overflow-x: hidden;
  justify-content: space-evenly;
}
.add button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  width: 50px;
  background-color: blue;
  transition: 0.3s ease-in-out;
}
.add button:hover {
  background-color: rgb(99, 99, 185);
  color: white;
}
.preview {
  width: 500px;
  height: 700px;
  position: absolute;
  top: 5px;
  background-color: white;
}

/* template */
.template {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 20px;
}
.grid {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: auto;
}

.cards {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: scroll;
  justify-content: space-evenly;
}
.card {
  margin: 20px;
  width: 400px;
  height: 390px;
  background-color: white;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://digiandme.com/wp-content/uploads/2021/07/digital-marketing-resume-3-1086x1536.jpg');
}

.resume1 {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
.resume1 .right {
  width: 30%;
  height: 100%;
  float: left;
  background-color: rgb(51, 51, 133);
}
.resume1 .details {
  width: 65%;
  height: 100%;
  padding-left: 10px;
  float: right;
  background-color: white;
}

/* preview */

.previewcard {
  width: 300px;
  background-color: #0057b3b4;
  height: 300px;
  color: white;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  justify-content: space-evenly;
}

.previewcard img {
  width: 100px;
}
.previewcard h5 {
  width: 100%;
  text-align: left;
  margin: 10px;
  font-size: 15px;
  overflow: hidden;
}

.previewcard h1 span {
  text-align: right;
}

.card-buttons{
  position: absolute;
  width: 100px;
  height: 100px;
  margin: -20px 0 0 30px;

}
.delete-button{
  color: red;
  background-color: #cccccc;
}
.popup-container{
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #ccc;

}
@media only screen and (max-width: 768px) {
  .login .left {
    display: none;
  }
  .login .right {
    width: 100%;
  }
}
